.wrapper {
    border-style: solid;
}


#search_button {
    margin-left: 10px
}

.newtimes {
    padding: 55px;
    background-color: #4527a0;
    margin-bottom: 16px;
}


.paragraphClass {

    color: blue;
}

.paragraphClass p {}

.headerone {
    margin-left: 8px;
    margin-right: 8px;
    background-color: #37474f;
    text-align: center;
    font-family: 'Roboto Slab', serif;
    color: white;
}

.resultstyle {
    margin: 10px;
    text-align: center;
    font-family: 'Roboto Slab', serif;
}
